---
layout: bootcamp
root: .
venue: Columbia University and CUSP
address: NYC
country: United-States
humandate: October 25-26, 2013
humantime: 9:00 am - 4:30 pm
startdate: 2013-10-25
enddate: 2013-10-26
latlng: 40.8080777,-73.9635678
registration: restricted
instructor: ["Justin Ely", "David Koop", "Ivan Gonzalez", "David Warde-Farley"]
contact: ely@stsci.edu
---
<div align="center">
  <p><strong><em>
      Please also see
      the <a href="{{page.root}}/lessons/index.html">index to our lessons</a>
      and the <a href="{{page.root}}/lessons/setup.html">index to setup instructions</a>.
  </em></strong></p>
</div>
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Locations</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Beginner Class</a></h3>
    <p>
      NYU Center for Urban Science and Progress (CUSP) <br>
      1 MetroTech Center (National Grid building) 19th floor <br>
      Brooklyn, NY <br>
    </p>
  </div>
  <div class="span6">
    <h3>Advanced Class</a></h3>
    <p>
      Columbia University <br>
      Pupin Hall <br>
    </ul>
  </div>
</div>

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>

<hr/>

<h2>Topics</h2>

<div class="row-fluid">
  <div class="span6">
    <h3><a href="lessons/swc-shell/tutorial.html">The Unix Shell</a></h3>
    <ul>
      <li>{% include guide-shell/intro/title.md %}</li>
      <li>{% include guide-shell/filedir/title.md %}</li>
      <li>{% include guide-shell/create/title.md %}</li>
      <li>{% include guide-shell/pipefilter/title.md %}</li>
      <li>{% include guide-shell/loop/title.md %}</li>
      <li>{% include guide-shell/scripts/title.md %}</li>
      <li>{% include guide-shell/find/title.md %}</li>
    </ul>
  </div>

  <div class="span6">
    <h3><a href="lessons/swc-db/tutorial.html">Python</a></h3>
    <ul>
      <li>Intro to Python</li>
      <li>Data Types</li>
      <li>Loops and Conditionals</li>
      <li>Functions and Libraries</li>
      <li>Numerical Analysis and Scientific Python</li>
      <li>Plotting</li>
    </ul>
  </div>

  <div class="span6">
    <h3>Version Control with git</a></h3>
    <ul>
      <li>What is Version Control?</li>
      <li>Git</li>
      <li>Local Git</li>
      <li>Remote Git and Collaboration</li>
    </ul>
  </div>

</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
  <li><a href="{{page.root}}/lessons/ref/sql.html">SQL</a></li>
</ul>
