---
layout: lesson
root: ..
title: Setup Instructions
---

<section id="s:setup:overviews">
  <h2>Overviews</h2>
  {% include setup/overview-bash.html %}
  {% include setup/overview-editor.html %}
  {% include setup/overview-git.html %}
  {% include setup/overview-python.html %}
</section>

<section id="s:setup:windows">
  <h2>Windows</h2>
  {% include setup/windows-anaconda.html %}
  {% include setup/windows-bash.html %}
  {% include setup/windows-cygwin.html %}
  {% include setup/windows-editor.html %}
  {% include setup/windows-git.html %}
  {% include setup/windows-python.html %}
  {% include setup/windows-swc.html %}
</section>

<section id="s:setup:macosx">
  <h2>Mac OS X</h2>
  {% include setup/macosx-common.html %}
  {% include setup/macosx-bash.html %}
  {% include setup/macosx-editor.html %}
  {% include setup/macosx-git.html %}
  {% include setup/macosx-nose.html %}
  {% include setup/macosx-python.html %}
  {% include setup/macosx-terminal.html %}
</section>

<section id="s:setup:linux">
  <h2>Linux</h2>
  {% include setup/linux-bash.html %}
  {% include setup/linux-editor.html %}
  {% include setup/linux-git.html %}
  {% include setup/linux-python.html %}
</section>

<section id="s:setup:vm">
  <h2>Virtual Machine</h2>
  {% include setup/vm.html %}
</section>

<section id="s:setup:ipynb">
  <h2>IPython Notebook</h2>
  {% include setup/testing-ipython.html %}
</section>
